/* NO LO ESTOY OCUPANDO POR AHORA...

* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: Monospace
}

main {
    background-color: white;
    margin: 0 auto;
    width: 1900px;
    height: 1140px;
    border: 0.1px solid grey;
}

h1{
    font-size: 100px;
    text-align: center;
}

#Section0{
    float: right;
}

#Section1{
    text-align: center;
    background-color: black;
    color: white;
    margin: 40px 1300px 0px 50px; 
    padding: 55px 55px 55px 55px;
}

#Section1 p{
    text-align: start;
}

strong em{
    color: green;
}

#Section2{
    text-align: center;
    background-color: black;
    color: white;
    float: left;
    margin: 40px 1300px 0px 50px;
    padding: 55px 55px 55px 55px;
}

#Section3{
    text-align: center;
    background-color: black;
    color: white;
    float: left;
    margin: 40px 1300px 0px 50px;
    padding: 55px 55px 55px 55px;
}

#Section4{
    text-align: center;
    background-color: black;
    color: white;
    float: left;
    margin: 40px 1300px 0px 50px;
    padding: 55px 55px 55px 55px;
}

.Medios{
    font-size: 100px;
    text-align: center;
}
*/

a{
    text-decoration: none;
    font-size: 25px;
}

ul li a{
    font-size: 20px;
}

#Section1{
    background-color: rgb(187, 187, 187);
    padding: 20px 20px 20px 20px;
    margin: 30px 0px 30px 0px;
}

#Section2{
    background-color: rgb(187, 187, 187);
    padding: 20px 20px 20px 20px;
    margin: 30px 0px 30px 0px;
}

#Section3{
    background-color: rgb(187, 187, 187);
    padding: 20px 20px 20px 20px;
    margin: 30px 0px 30px 0px;
}

#Section4{
    background-color: rgb(187, 187, 187);
    padding: 20px 20px 20px 20px;
    margin: 30px 0px 30px 0px;
}